# Python for Loop

In [3]:
'I am {1} but I am {0}'.format('bad','lazy')

'I am lazy but I am bad'

In [4]:
round(12.33333,2)

12.33

In [5]:
marks = [73,74,28]
total_marks = 0
for i in marks:
    total_marks = total_marks + i 
    
avg_marks = total_marks/len(marks)
print('avg marks is {}'.format(round(avg_marks,2)))

avg marks is 58.33

In [ ]:
# range(8)

range(0, 8)

In [5]:
marks = [73,74,28]
# len(marks)
total_marks = 0
for i in range(len(marks)):
    total_marks = total_marks + marks[i]

avg_marks = total_marks/len(marks)
avg_marks

58.333333333333336

In [15]:
len([1,2,3])

3

In [ ]:
range()

range(0, 3)

In [ ]:
marks = [73,74,28,100,90,80]

key = 28

for i in range(len(marks)):
    if marks[i] == key:
        print("Key found at index {}".format(i))
        break
    print("Key not found")
print(' I am done with searching')

Key not found
Key not found
Key found at index 2
 I am done with searching

In [9]:
card_number = [2,4,3,5,7,9]
# find the first odd number

for i in card_number:
    if i%2 !=0:
        print('this is odd number:',i)
        continue

print('I am otside of for loop')

this is odd number: 3
this is odd number: 5
this is odd number: 7
this is odd number: 9
I am otside of for loop

The for loop in Python is used to iterate over a sequence (list, tuple, string) or other iterable objects. 
    
Iterating over a sequence is called traversal.

# Syntax:

    for element in sequence :

        Body of for

Here, element is the variable that takes the value of the item inside the sequence on each iteration.

Loop continues until we reach the last item in the sequence.

# Flow Chart

![title](forLoop.jpg)

# Example

In [11]:
data = [21,24,22,36,67,45]

# count even ? or divisible by 2


count = 0
for i in data:
    if i%2==0:
        count = count +1

print('total count of even number:',count)

total count of even number: 3

In [9]:
lst =[10,20,30,31]

data = [21,24,22,36,67]

# find the number of elements which are divisible by 2 in given list


# input lst
# output 3


count = 0
for i in data:
    if i%2==0:
        count = count+1
        
print('count: ',count)

count:  3

In [10]:
lst=[10,20,30,40]


ans = 0
for i in lst:
    ans = ans+i
    
print('ans:',ans)

ans: 100

In [18]:
# lst[4]

In [20]:
lst=[10,20,30,40]
ans = 0
# range(2,9)
# range(len(lst))

for i in range(len(lst)):
    ans = ans +lst[i]
#     print(i)
print('ans: ',ans)

ans:  100

In [12]:
lst = [[10, 20, 30,  50],[20,30]]
len(lst)

2

In [15]:
lst = [[10, 20, 30,  50],[20,30]]

lst[0]
total_sum = 0
for i in lst:
    for j in i:
        total_sum = total_sum +j

print('total sum is :',total_sum)

total sum is : 160

In [19]:
lst = [[[10, 20, 30,  50]]]

product = 1  # declartion 
for element in lst:
    for i in element:
        for j in i:
            product= product*j
        # 
    
#     print(element)
print(product)

300000

In [27]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [28]:
#Find product of all numbers present in a list

lst = [10, '20', '30', 40.3, 50]

product = 1
#iterating over the list
for ele in lst:
    print(type(ele))
#     product *= ele

print("Product is: {}".format(product))

<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'int'>
Product is: 1

In [4]:
lst = [10, 20, 30, 40, 50]
product = 0
for i in lst:
    product = product+i
#     print(i)

In [6]:
range(9)

range(0, 9)

# range() function

We can generate a sequence of numbers using range() function. range(10) will generate numbers from 0 to 9 (10 numbers).

We can also define the start, stop and step size as range(start,stop,step size). step size defaults to 1 if not provided.

This function does not store all the values in memory, it would be inefficient. So it remembers the start, stop, step size and generates the next number on the go.

In [5]:
#print range of 10
for i in range(8,10):
    print(i)

8
9

In [7]:
#print range of numbers from 1 to 20 with step size of 5
for i in range(5, 20, 5):
    print(i)

5
10
15

In [ ]:
lst = ["satish", "srinu", "murali", "naveen", "bramha"]

#iterate over the list using index
#for index in range(len(lst)):
#    print(lst[index])
for ele in lst:
    print(ele)

satish
srinu
murali
naveen
bramha

# for loop with else

A for loop can have an optional else block as well. The else part is executed if the items in the sequence used in for loop exhausts.

break statement can be used to stop a for loop. In such case, the else part is ignored.

Hence, a for loop's else part runs if no break occurs.

In [ ]:
numbers = [2,3,4,5]

#iterating over the list
ans = 0
for item in numbers:
    ans = ans+item
#     print(item)

else:
    print("no item left in the list and final ans is {}".format(ans))

no item left in the list and final ans is 14

In [38]:
# help(cv.medianBlur(img,(5,5)))

In [14]:


for item in numbers:
    print(item)
    if item % 2 == 0:
        break
else:
    print("no item left in the list")

no item left in the list

# Python Program to display all prime numbers within an interval

In [20]:
index1 = 20
index2 = 50

print("Prime numbers between {0} and {1} are :".format(index1, index2))

for num in range(index1, index2+1):      #default step size is 1
    if num > 1:
        isDivisible = False
        for index in range(2, num):
            if num % index == 0:
                isDivisible = True;
        if not isDivisible:        
            print(num)

Prime numbers between 20 and 50 are :
23
29
31
37
41
43
47

In [12]:

#taking starting and end value to generete the number
num_1 = 20
num_2 = 50

for i in range(num_1,num_2+1):
    # chekcing if number is even or not
    if i % 2 ==0:
        print('This is even number: ',i)

This is even number:  20
This is even number:  22
This is even number:  24
This is even number:  26
This is even number:  28
This is even number:  30
This is even number:  32
This is even number:  34
This is even number:  36
This is even number:  38
This is even number:  40
This is even number:  42
This is even number:  44
This is even number:  46
This is even number:  48
This is even number:  50