In [5]:
# how to declare a variable in python

x = 2
y = 3
print(x + y)


# simple example 
age = 24

# if age >= 18: --> eligible to vote
if age >= 18:
    print("eligible to vote")
else:
    print("not eligible to vote")

5
eligible to vote

In [ ]:
age = '18'
type(age)  # str

# what will be the age after 5 years

age + 5

TypeError: can only concatenate str (not "int") to str

In [11]:
salary = '1231.12'
type(salary)  # float

# lets add
18 + salary

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [12]:
isVotreEligible = True
print(isVotreEligible)

True

In [14]:
age = '18'
type(age)  # str

# what will be the age after 5 years

age + 5



# here you can see that age is a string and 5 is an integer
# so python will not be able to add these two different data types
# and it will throw an error
# TypeError: can only concatenate str (not "int") to str
# typcasting


# lets convert integer to float

TypeError: can only concatenate str (not "int") to str

In [16]:

salary = 12000
# before typcasting
type(salary)  # int
updated_salary = float(salary)
type(updated_salary)  # float

float

In [17]:
age = '18'
type(age)  # str

# what will be the age after 5 years

age = int(age)
age + 5

23

In [22]:
test

NameError: name 'test' is not defined

In [23]:
blog = "Data Science Everything"


type(blog)  # str

str

In [24]:
# if you have blog with more then 1 line then use triple quotes
blog = """Data Science Everything
is a blog which covers all the topics related to data science.
From python programming to machine learning and deep learning.
It also covers data visualization and data analysis."""

type(blog)  # str

str

In [ ]:
# use backslash for new line in single line string
blog = "Data Science Everything \nis a blog which covers all the topics related to data science.\nFrom python programming to machine learning and deep learning.\nIt also covers data visualization and data analysis."